
.project-card{
width: 512px;
height: 750px;
flex-shrink: 0;
background-color: #D9D9D9;
border-radius: 25px 25px 25px 25px;
}

.images-content{
    width: 512px;
    height: 326px;
    flex-shrink: 0;
    border-radius: 25px 25px 0px 0px;
}

.name-container {
    background-color: #FF4820;
    display: inline-flex;
    align-items: center;
    margin: 30px 0px 34px 40px;
    padding: 1px 20px 1px 20px;
    justify-content: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 25px;
    min-height: 38px;
    max-width: 437px;
    line-height: 2;
}
.name-container h1{
    color: #000;
    font-family: "Saira Condensed";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
    padding: 0; 
}
.description-container {
    padding: 0px 40px 19px 40px;
    height: 130px;
    max-width: 437px;
    width: auto;
    word-wrap: break-word;
}

.description-container p {
color: #000;
font-family: "Saira Condensed";
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
}

.line-container {
    display: flex;
    align-items: center; 
    justify-content: center;  
}

.line-divider {
    width: 437px;
    height: 1px;   
    background: #000;
}

.languages {
    margin: 30px 0px 32px 40px;
    display: flex; 
    flex-direction: row;
}

.languageicon {
    max-height: 50px;
    flex-shrink: 0;
    padding-right: 15px;
}

.github-btn-container{
    display: flex;
    align-items: center; 
    justify-content: center;

}

.github-btn {
    background-color: #FF4820;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 18px;
    font-weight: 500;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

.github-btn-text {
    color: #FFF;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0.5rem 1rem;
    border: none;
    text-decoration: none;
    transition: color 0.3s ease;
}

.github-btn:hover {
    background-color: transparent;
    border: 2px solid #FF4820;
}

.github-btn:hover .github-btn-text {
    color: black;

}

@media screen and (max-width: 768px) {
    .project-card {
      width: 100%;
      height: auto;
    }
  
    .images-content {
      width: 100%;
      height: auto;
    }
  
    .name-container, .description-container, .line-divider, .languages, .github-btn-container {
      margin-left: 20px;
      margin-right: 20px;
      max-width: calc(100% - 40px);
    }
  
    .name-container, .description-container {
      padding: 0 10px;
    }
  
  }