.skills-container {
    justify-content: space-evenly;
}

.container-one {
    width: 341px;
}

.container-two_content li {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.container-two h1 {
    color: #000;
    font-size: 64px;
font-style: bold;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}

.container-two_content {
    width: 642px;
height: 672px;
}

.highlighth1 {
    color: #FF4820;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.container-two_content strong {
    color: #FF4820;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.container-two_content strong::before {
    content: '•';
    font-weight: bold;
    display: inline-block;
    width: 20px;
    margin-left: -20px; 

}



.container-two_content li {
    margin-bottom: 20px;
}


@media screen and (max-width: 1000px) {
    .skills-container {
        justify-content: space-evenly;
    }
    
    .container-one {
        width: 341px;
    }


    
    .container-two_content li {
        color: #000;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    
    .container-two h1 {
        color: #000;
        font-size: 40px;
    font-style: bold;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    }
    
    .container-two_content {
    width: 341px;
    height: 672px;
    }
    
    .highlighth1 {
        color: #FF4820;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }
    
    .container-two_content strong {
        color: #FF4820;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .container-two_content strong::before {
        content: '•';
        font-weight: bold;
        display: inline-block;
        width: 20px;
        margin-left: -20px; 
    
    }
    
    
    
    .container-two_content li {
        margin-bottom: 20px;
    }
    
}