.custom-navbar {
    position: fixed;
    top: 0;
    z-index: 100;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    width: 100%;
}

.custom-navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.5);
}

.custom-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    max-width: 1500px;
}

.custom-nav-logo {
    color: #FF4820;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.custom-nav-menu {
    list-style: none;
    text-align: center;
    display: flex;
    margin-right: 2rem;
}

.custom-nav-item {
    margin: 0 1rem;
}

.custom-nav-links {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.custom-nav-links.active {
    color: #FF4820;
}

.custom-nav-btn-container{
    display: flex;
    align-items: center; 
    justify-content: center;

}

.custom-nav-btn {
    background-color: #FF4820;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 18px;
    font-weight: 500;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

.custom-nav-btn-text {
    color: #FFF;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0.5rem 1rem;
    border: none;
    text-decoration: none;
    transition: color 0.3s ease;
}

.custom-nav-btn:hover {
    background-color: transparent;
    border: 2px solid #FF4820;
}

.custom-nav-btn:hover .custom-nav-btn-text {
    color: #fff;

}
.custom-hamburger-icon {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
}

.custom-hamburger-icon div {
    background-color: #FFF;
    height: 3px;
    width: 100%;
}

.custom-mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100%;
    background: #333;
    z-index: 100;
    transition: left 0.3s ease;
}

.custom-mobile-menu.open {
    left: 0;
}

.custom-mobile-nav-menu {
    list-style: none;
    padding-top: 20px;
}

.custom-mobile-menu .custom-nav-btn {
    display: block;
    margin: 1rem auto;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .custom-nav-menu, .custom-nav-btn {
        display: none;
    }
    .custom-hamburger-icon {
        display: flex;
    }
    .custom-mobile-menu {
        display: block;
    }
}
