.black-bg-straight {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), #000000);  
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 800px;
  width: 100%;
}

.black-bg {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), #000000);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 85%);
  background-repeat: no-repeat;
  min-height: 800px;
  width: 100%;
}
.aboutme{
  padding-top: 80px;
}

.header-projects{
  padding-top: 20px;
  display: flex;
  justify-content: center
}

.header-projects h1 {
  color: #fff;
  font-size: 64px;
font-style: bold;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}

.projects-highlighth1 {
  color: #FF4820;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.sort-dropdown {
  padding: 20px 0px 0px 100px;
}

.sort-dropdown select {
  border-radius: 25px 25px 25px 25px;
  width: 200px;
  height: 40px;
  background-color: #FF4820;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-family: "Saira Condensed", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.sort-dropdown select option {
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  background: #FF4820;
  font-family: "Saira Condensed", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.projects-items {
  padding: 20px;
  display: flex;
  align-items: center; 
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .sort-dropdown {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sort-dropdown select {
    width: 100%;
    max-width: 200px;
  }
}